body
{
   
    background-image: url(https://images.unsplash.com/photo-1560073743-0a45c01b68c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}


h1
{
    text-align: center;
    padding-bottom: 40px;
    font-size: 70px;
  
}

h5
{
    font-size: 50px;
}

.card-text
{
    text-align: justify;
}


.btn
{
    text-align: center;
}

.blockquote, .blockquote-footer
{
    text-align: center;
}


footer{

    background: darkblue;
    padding-top: 60px;
    padding: 50px;
    margin-top: 70px;
}

.rights-text
{
    text-align: center;
    font-size: x-small;
    padding-top: 20px;
    color: white
}

.texto
{
    text-align: center;
    color: whitesmoke;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 2px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}